/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 27, 2022, 12:11:12 PM
    Author     : thand
*/
.scroll {
    position: relative;
    overflow-y: scroll;
    height: 500px;
}
.content-detail{
    height: fit-content;
}
.description{
    border-top: 1px solid black ;
    padding-top: 3%;
}
.td{
    padding-right: 3%
}
.nametopic{
    padding-top: 3%;
}
.Courses_Specialization{
    margin-bottom: 3%;
}
#featuredsubjects{
    background-color: blanchedalmond;
}
.content-detail{
    margin-top:  3%;
    margin-bottom:   3%;
}
.topicName{
    color: #6666ff
}
.Tid{
    font-size:  60px;
    color:activecaption;
}
.body{
    padding-left: 2%;
    padding-right: 2%;
}
.test {
     width: 100%;
     height: 100px;
}