/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 31, 2022, 4:11:42 PM
    Author     : thand
*/
.content-Categorys{
    text-align: center;
    margin-top: 3%;
    margin-left: 8%;
    margin-bottom:  3%;
}
.b{
    width: 200px !important;
    height: 50px;
}
.scroll {
    position: relative;
    overflow-y: scroll;
    height: 300px;
}