/* 
   content profile 
*/
.content-profile{
   margin-left: 30px;
   margin-right: 30px;
   margin-top: 80px;
   margin-bottom: 100px;
}
/* 
   edit profile 
*/
/*.edit-profile {
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
    background: #F8F9FA;
    border: 2px solid white;
    border-radius: 5px;
    box-shadow: 0 0 10px 5px #D6D8DB;
}*/
.edit-profile .edit-profile-header{
    text-align: center;
    border : 1px solid #E5E5E5;
}
.edit-profile-form{
    display: flex;
    flex-wrap: wrap;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 20px;
    justify-content: space-around;    
}
.edit-profile-form-item label{
    font-weight: bold;
    color: #333;
}
.edit-profile-form-item{
    flex-basis: calc(50% - 12px);
}
.edit-profile-submit{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 50px;
}
label.error{
   color : red !important;
   font-size: 14px;
   font-weight: 500;
}
@media (max-width: 1000px){
    .edit-profile-form{
        margin-left: 0px;
        margin-right: 0px;
    }
}
@media (max-width: 600px){
     .edit-profile-form-item{
        flex-basis: 100%;
    }
}

