body{
    background-color: #9999FF;
}
.content-send-reset-password{
    margin-left: 20%; 
    margin-right: 20%; 
    margin-top: 100px;
    background-color: #FFFFFF;
    border: 2px solid white;
    border-radius: 5px;
    box-shadow: 0 0 10px 5px #D6D8DB;
}
.content-send-reset-password img{
    margin-top: 30px;
    margin-bottom: 6px;
    width: 100px; 
    height: 100px;
}
.form-send-reset-password-item{
    margin-left: 30%;
    margin-right: 30%;
}
.send-reset-password-profile-submit{ 
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 20px;
}
label.error{
    color : red !important;
    font-size: 14px;
    font-weight: 500;
}
@media (max-width: 900px){
    .form-send-reset-password-item{
        margin-left: 0;
        margin-right: 0;
    }
}
